page-list {
    .item__info {
        display: inline-block;
    }

    .item__image {
        display: inline-block;
    }

    .item__image img {
        width: 25px;
    }

    .item__info__name {
        font-weight: bold;
    }
    
    ion-label {
        margin-top: 0!important;
        margin-bottom: 0!important;
    }
}
